body {
  font-family: menlo, 'andale mono', 'courier new', sans-serif;
  font-size: 13px;
  font-style: normal;
  color: #333;
}

hr.autopagerize_page_separator {
  border: #9de088 double 4px;
}

h1 {
  font-size: 40px;
  font-family: "reenie-beanie",sans-serif;
}

span.hatena-star-star-container {
  vertical-align: super;
}

span.time {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 24px;
  font-style: italic;
  text-shadow: 0 3px 0 cyan;
  display: inline-block;
  max-width: 100%;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background: #f785bc;
  padding: 2px;
}

.blog-title {
  margin: 50px 0 30px;
}

.entry-title {
  font-size: 16px;
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: menlo,'andale mono',consolas,"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", 'ＭＳ Ｐゴシック', sans-serif;
  line-height: 1.25em;
  margin-bottom: 60px;
}

div.content a {
  text-shadow: 0 2px 7px cyan;
  display: inline-block;
  max-width: 100%;
  color: #111;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.content a:hover {
  background: cyan;
  color: #000;
  text-shadow: none;
}

a {
  text-decoration: none;
}

div.inner {
  font-size: 14px;
}

#main-content {
  margin-bottom: 24px;
}

.pagination {
  margin: 24px 0 36px;
}

div.content code {
  font-family: menlo, 'andale mono', monospace;
  background-color:
  rgba(240, 240, 240, 0.2);
  border: 1px solid
  rgba(220, 220, 220, 0.8);
  display: block;
  overflow: auto;
  padding: 1.5em;
  margin-bottom: 1em;
}

ul li {
  margin-left: 18px;
  list-style-type: disc;
  list-style-position: outside;
  line-height: 32px;
  font-size: 102%;
}

table {
  width: 100%;
  background: #fff;
  border: 1px solid #eceef4;
}

th {
  padding:9px 0;
  border: 1px solid #eceef4;
  background-color:#f7f8fb;
}

td {
  padding: 10px;
  border: 1px solid #eceef4;
}

tr:hover td {
  background-color: #fff9e2;
}
